.experience-container{
    margin: 4rem 0;
    position: relative;
}
.experience-container h5 {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin: 1rem;
    filter: drop-shadow(2px 2px #0077B6);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
