.contact-container {
    padding: 1rem 0rem;
    background-color: #f8f9fa;
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #2c9292;
}

.contact-container h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #000000;
}
.contact-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-item {
    flex: 1;
    max-width: 300px;
}

.contact-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-5px);
}

.contact-icon {
    width: 40px;
    height: 40px;
    color: #3498db;
    margin-bottom: 1rem;
}

.contact-card h4 {
    color: #2c9292;
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.contact-card a {
    color: #1c415a;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    margin-top: 0.5rem;
    transition: color 0.3s ease;
}

.contact-card a:hover {
    color: #33a6f3;
}
